<div class="container mt-5">
  <h2 class="underline">Sobre mi:</h2>
  <div class="row mt-5">
    <div class="col-12">
      <p>Estudiant d'enginyeria informàtica de 4t curs. Finalització <span style="font-weight:bold"> Juny 2019</span>.
      </p>
      <p>Apassionat pel món de la programació web, amb visió de futur amb especialitzar-se amb tota la part de
        front-end,
        aplicant mètodes de DCU (Disseny Centrat en l'Usuari) i millorant la UX del sistema.</p>
      <p><span
        style="font-weight: bold">Si has de fer alguna cosa sense ficar-hi tot el teu cor, millor que no ho facis.</span>
      </p>
    </div>
    <div class="col-12 ">
      <div class="row">
        <div class="mt-5 col-4">
          <i class="fa fa-user mt-1 mr-3" aria-hidden="true"></i>
          <h2>Alvaro Ortega Marmol</h2>
        </div>
        <div class="mt-5 col-4">
          <i class="fa fa-phone mt-1 mr-3" aria-hidden="true"></i>
          <h2>(+34) 722 732 472</h2>
        </div>
        <div class="mt-5 col-4">
          <i class="fa fa-envelope mt-1 mr-3" aria-hidden="true"></i>
          <h2>alortegama@outlook.com</h2>
        </div>
      </div>
    </div>
  </div>
</div>
