<div class=" carousel carousel-fade" data-ride="carousel" id="carausel">
  <div class="carousel-inner">
    <div class="carousel-item active slide">
      <img alt="First slide" class="d-block w-100 mh-100"
           src="https://mdbootstrap.com/img/Photos/Slides/img%20(1).jpg">
    </div>
    <div class="carousel-item slide">
      <img alt="Second slide" class="d-block w-100 mh-100"
           src="https://mdbootstrap.com/img/Photos/Slides/img%20(2).jpg">
    </div>
    <div class="carousel-item slide">
      <img alt="Third slide" class="d-block w-100 mh-100"
           src="https://mdbootstrap.com/img/Photos/Slides/img%20(3).jpg">
    </div>
  </div>
  <a class="carousel-control-prev" data-slide="prev" href="#carausel" role="button">
    <span aria-hidden="true" class="carousel-control-prev-icon"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" data-slide="next" href="#carausel" role="button">
    <span aria-hidden="true" class="carousel-control-next-icon"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
